@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

body{
    font-family: 'Hammersmith One', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/*--HEADER--*/

header{
    background: rgb(99,125,140);
    background: linear-gradient(273deg, rgba(99,125,140,1) 0%, rgba(240,234,225,0.7903536414565826) 100%);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}



header h1{
    font-size: 50px;
    font-weight:600;
    color: rgba(126, 123, 122, 0.685);
}

i{
    font-size: 50px;
    color: rgba(126, 123, 122, 0.685);
}

header div{
    display: flex;
}


header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li{
    margin: 10px 15px 15px 10px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    transition: 1s;
}

header nav ul li a:hover{
    color: rgb(94, 72, 72);
}

header nav form .boton{
    border: 1px solid white;
    color: white;
    transition: 1s;
}

header nav form .boton:hover{
    background-color: rgb(106, 130, 182);
    color: white;
}

.fixed{
    position: fixed;
    right: 40px;
    bottom: 5px;
}

.fixed img{
    width: 70px;
    height: 70px;
}

/*--MAIN-*/

.hero{
    text-align: center;
    width: 100%;
    height: 80vh;
    color: white;
    background: linear-gradient(rgba(75, 68, 68, 0.432),rgba(214, 116, 4, 0.5)), url("./img/fondo.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2{
    font-size: 60px;
    border: 2px solid white;
    padding: 20px;    
}

.hero p{
    margin-bottom: 20px;
    font-size: 30px;
    
}

.hero a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: rgba(48, 43, 43, 0.699);
    padding: 5px 15px;
    border: 1px solid rgb(87, 57, 39);
    transition: 1s;
}

.hero a:hover{
    color: rgba(48, 43, 43, 0.699);
    background-color: white;
}

.objetivo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.objetivo div h2{
    font-size: 35px;
}

.objetivo p{
    margin: 0;
    padding: 0;
}

.objetivo div{
    width: 50%;
    margin: 50px;
}

.objetivo img{
    width: 600px;
    height: 500px;
}


/*KEYFRAME*/
@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}

.recomendaciones h2{
    font-size: 35px;
    color: white;
    background: rgb(156,171,180);
    background: radial-gradient(circle, rgba(156,171,180,1) 0%, rgba(247,235,216,0.7903536414565826) 100%);
    text-align: center;
    margin: 0;
    padding: 10px;
    animation-name: slidein;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: initial;
    animation-delay: 1s;
}

/*KEYFRAME*/
@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}

.recomendaciones .funciona{
    background: rgb(254,255,246);
    background: linear-gradient(274deg, rgba(254,255,246,0.7147233893557423) 0%, rgba(238,238,238,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.recomendaciones iframe{
    width: 500px;
    height: 350px;
}

.recomendaciones .funciona div{
    width: 40%;
    margin: 60px;
}

.recomendaciones .funciona div h3{
    font-size: 40px;
}

.recomendaciones .periodo{
    background: rgb(254,255,246);
    background: linear-gradient(83deg, rgba(254,255,246,0.7147233893557423) 0%, rgba(238,238,238,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 40px;
}

.recomendaciones .periodo iframe{
    width: 500px;
    height: 350px;
}

.recomendaciones .periodo div{
    width: 40%;
    margin: 60px;
}

.recomendaciones .periodo div h3{
    font-size: 40px;
}

.recomendaciones .arma{
    background: rgb(254,255,246);
    background: linear-gradient(274deg, rgba(254,255,246,0.7147233893557423) 0%, rgba(238,238,238,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.recomendaciones .arma iframe{
    width: 500px;
    height: 350px;
}

.recomendaciones .arma div{
    width: 40%;
    margin: 60px;
}

.recomendaciones .arma div h3{
    font-size: 40px;
}




/*--FOOTER--*/

footer{
    display: flex;
    text-align: center;
    background: rgb(247,254,194);
    background: linear-gradient(274deg, rgba(247,254,194,0.7147233893557423) 0%, rgba(164,164,164,1) 100%);
}


footer h2{
    font-size: 30px;
    font-weight: 400;
    color: white;
}


footer div img{
    width: 50px;
    height: 50px;
    transition: 1s;
}

footer div img:hover{
    transform:scale(1.1);
    box-shadow: 10px 10px 5px -3px rgba(133,131,131,0.75);
    -webkit-box-shadow: 10px 10px 5px -3px rgba(133,131,131,0.75);
    -moz-box-shadow: 10px 10px 5px -3px rgba(133,131,131,0.75);
}



.clear{
    background: rgb(254,255,246);
    background: linear-gradient(83deg, rgba(254,255,246,0.7147233893557423) 0%, rgba(238,238,238,1) 100%);
}

.data h2{
    font-size: 35px;
    color: white;
    background: rgb(156,171,180);
    background: radial-gradient(circle, rgba(156,171,180,1) 0%, rgba(247,235,216,0.7903536414565826) 100%);
    text-align: center;
    padding: 10px;
    animation-name: slidein;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: initial;
    animation-delay: 1s;
}

form {
    margin: 0 auto;
    width: 400px;
    border: 2px solid #242121;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    display: block;
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #242121;
    margin-bottom: 20px;
}

button[type="submit"] {
    display: block;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

.header-content-inner h2{
    font-size: 35px;
    color: white;
    background: rgb(156,171,180);
    background: radial-gradient(circle, rgba(156,171,180,1) 0%, rgba(247,235,216,0.7903536414565826) 100%);
    text-align: center;
    margin: 0;
    padding: 10px;
    animation-name: slidein;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: initial;
    animation-delay: 1s;
}

/*KEYFRAME*/
@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}

.cotizaciones{
    background: rgb(254,255,246);
    background: linear-gradient(83deg, rgba(254,255,246,0.7147233893557423) 0%, rgba(238,238,238,1) 100%);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.cotizaciones h2{
    font-size: 35px;
    color: white;
    background: rgb(156,171,180);
    background: radial-gradient(circle, rgba(156,171,180,1) 0%, rgba(247,235,216,0.7903536414565826) 100%);
    text-align: center;
    margin: 0;
    padding: 10px;
    animation-name: slidein;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: initial;
    animation-delay: 1s;
}

/*KEYFRAME*/
@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}

.btn {
    border: 0px;
    color: #F1F8E9;
    padding: 7px 25px;
    border-radius: 2px;
    font-size: 16px;
    margin-top: 30px;
}
.btn-primary {background-color: #007894;}
.btn-delete {background-color: #007894;}
.btn-danger {background-color: #E91E63;}

#clac_error {
    color: red;
}

.list {padding-left: 20px;}
.list h2 {margin: 0px;}
.container-list ul li { margin-bottom: 20px;}
.form-control {border-radius: 5px;border: 1px solid #ccc;padding: 5px;margin: 10px 0px;     display: block; width: 90%; min-height: 30px;}
.container {
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.danger {
    background-color: rgba(218, 4, 4, 0.79);
    color: #fff;
}
.table {width: 100%;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: center;
}
.col-sm-7 {
    width: 52.33333333%;
    float: left;
    padding: 20px;
}
.col-sm-5 {
    width: 41.66666667%;
    float: left;
    padding: 20px;
}